In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import numpy as np

In [5]:
#load A CSV Into pandas and sample first 5 records
df = pd.read_csv("diabetes2.csv")
df.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
#read last 5 records
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [7]:
#check size of data
df.shape

(768, 9)

In [7]:
#check data types
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [8]:
# remove leading and trailing characters and convert all characters to lowercase
df.columns = df.columns.str.strip().str.lower()
df.head()

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age,outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [10]:
#conver the float to int
df['bmi'] = df['bmi'].astype(np.int64)
df.dtypes

pregnancies                 int64
glucose                     int64
bloodpressure               int64
skinthickness               int64
insulin                     int64
bmi                         int64
diabetespedigreefunction    int64
age                         int64
outcome                     int64
dtype: object

In [20]:
#check for duplicates
df = df[df.duplicated()]
sum(df.duplicated())

0

In [24]:
df.isnull().any()

pregnancies                 False
glucose                     False
bloodpressure               False
skinthickness               False
insulin                     False
bmi                         False
diabetespedigreefunction    False
age                         False
outcome                     False
dtype: bool

In [30]:
df.shape

(768, 9)

In [13]:
#trained model
features = df.drop(['outcome'], axis=1)
target = df['outcome']

model = DecisionTreeClassifier()

model.fit(features, target)

print(model)

DecisionTreeClassifier()

In [14]:
new_features = pd.DataFrame(
    [
        [None, None, None, 35, 35, 25.6, 0.776, 24 ],
        [None, None, None, 34, 23, 34.9, 0.987, 56 ],
    ],
    columns=features.columns,
)


new_features.loc[0, 'pregnancies'] = 3
new_features.loc[0, 'glucose'] = 132
new_features.loc[0, 'bloodpressure'] = 67


new_features.loc[1, 'pregnancies'] = 2
new_features.loc[1, 'glucose'] = 145
new_features.loc[1, 'bloodpressure'] = 70


answers = model.predict(new_features)
print(answers)

[0 1]