In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [17]:
#load A CSV Into pandas and sample first 5 records
df = pd.read_csv("diabetes2.csv")
df.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
#read last 5 records
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [13]:
#check size of data
df.shape

(0, 9)

In [5]:
#check data types
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [18]:
# remove leading and trailing characters and convert all characters to lowercase
df.columns = df.columns.str.strip().str.lower()
df.head()

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age,outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [20]:
#conver the float to int
df['diabetespedigreefunction'] = df['diabetespedigreefunction'].astype(np.int64)
df.dtypes

pregnancies                 int64
glucose                     int64
bloodpressure               int64
skinthickness               int64
insulin                     int64
bmi                         int64
diabetespedigreefunction    int64
age                         int64
outcome                     int64
dtype: object

In [10]:
#check for duplicates
df = df[df.duplicated()]
sum(df.duplicated())

0

In [21]:
df.shape

(768, 9)

In [22]:
#trained model
x_train = df.drop(['outcome'], axis=1)
y_train = df['outcome']

model = DecisionTreeClassifier()

model.fit(x_train, y_train)

print(model)

DecisionTreeClassifier()

In [23]:
target = df['outcome']
features = df.drop('outcome', axis=1)
features_train, features_valid, target_train, target_valid = train_test_split(
    features, target, test_size=0.25, random_state=12345
)

model = DecisionTreeClassifier(random_state=12345)
model.fit(features_train, target_train)
predicted_valid = model.predict(features_valid)

accuracy_valid = accuracy_score(target_valid, predicted_valid)

print(accuracy_valid)

0.6614583333333334

In [ ]:
test_df = pd.DataFrame(
    [
        [None, None, None, 35, 35, 25.6, 0.776, 24 ],
        [None, None, None, 34, 23, 34.9, 0.987, 56 ],
    ],
    columns=features.columns,
)


test_df.loc[0, 'pregnancies'] = 8
test_df.loc[0, 'glucose'] = 100
test_df.loc[0, 'bloodpressure'] = 40


test_df.loc[1, 'pregnancies'] = 2
test_df.loc[1, 'glucose'] = 145
test_df.loc[1, 'bloodpressure'] = 70


test_predict = model.predict(test_df)
print(test_predict)

[1 1]

In [ ]:
y=df["outcome"] #dependent variable
X=df.drop(["outcome"],axis=1) #independent variables

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(537, 8)
(537,)
(231, 8)
(231,)

In [24]:
df_train, df_valid = train_test_split(df, test_size=0.25, random_state=12345)

features_train = df_train.drop(['outcome'], axis=1)
target_train = df_train['outcome']
features_valid = df_valid.drop(['outcome'], axis=1)
target_valid = df_valid['outcome']

for depth in range(1, 6):
    model = DecisionTreeClassifier(random_state=12345, max_depth=depth)
    model.fit(features_train, target_train)
    predictions_valid = model.predict(features_valid)
    print('max_depth =', depth, ': ', end='')
    print(accuracy_score(target_valid, predictions_valid))

max_depth = 1 : 0.7708333333333334
max_depth = 2 : 0.7708333333333334
max_depth = 3 : 0.7552083333333334
max_depth = 4 : 0.765625
max_depth = 5 : 0.7604166666666666